<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CustomActivityClasses.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.2.1.0" newVersion="7.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Azure.Management.DataLake.Store" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.8.1.0" newVersion="5.8.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <CustomActivityClasses.Properties.Settings>
      <setting name="AADDomainMSDN" serializeAs="String">
        <value>alexpurplefrogsystems816.onmicrosoft.com</value>
      </setting>
      <setting name="AppIdMSDN" serializeAs="String">
        <value>6a6663f2-a5b1-438b-9660-ae07baae093b</value>
      </setting>
      <setting name="AppNameMSDN" serializeAs="String">
        <value>FunFactoryCleaning</value>
      </setting>
      <setting name="AppSecretMSDN" serializeAs="String">
        <value>RsUrmVAHhdsSlkEXeT/d+rLElFE3TBsazTdpdcJFHBk=</value>
      </setting>
      <setting name="AADDomain" serializeAs="String">
        <value>PurpleFrogSystems.com</value>
      </setting>
      <setting name="AppId" serializeAs="String">
        <value>7b58dd8e-1b68-43f8-85c7-a3bb3a4d0858</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>PaulsFunFactoryUser</value>
      </setting>
      <setting name="AppSecret" serializeAs="String">
        <value>ydxd2yUmwaMwCxpaGL7RQoDoSeCwQ0f4+PD2kekT4Ao=</value>
      </setting>
    </CustomActivityClasses.Properties.Settings>
  </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" /></startup></configuration>
