USE [sdbamsdapdev001]
GO
/****** Object:  Table [dbo].[DataTypeMappings]    Script Date: 06/06/2018 14:51:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataTypeMappings](
	[TSQL] [varchar](50) NOT NULL,
	[USQL] [varchar](50) NOT NULL
) ON [PRIMARY]
GO
